VITE_SUPABASE_URL=https://mmkbknnzgpvsqgnynrbe.supabase.co
VITE_SUPABASE_URL=https://mmkbknnzgpvsqgnynrbe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ta2Jrbm56Z3B2c3FnbnlucmJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MjUzMTIsImV4cCI6MjA5MjIwMTMxMn0.DXW5OAcgmbgORnMGOoqtFVkpmtE-cyDagdeiHvDKG_g
TWOFACTOR_API_KEY=b5bb5cd6-f04a-11f0-a6b2-0200cd936042
TWOFACTOR_TEMPLATE_NAME=Pramaana-Payment Approval
VITE_CLAMFLOW_SUPABASE_URL=https://idwgenbkguejgwtzbicu.supabase.co
VITE_CLAMFLOW_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlkd2dlbmJrZ3Vlamd3dHpiaWN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NzY1NzQsImV4cCI6MjA4MjM1MjU3NH0.EPAUL1YWP4cVGw1bIs8T-1Osd7ToHzROmmWObGjAWYM
PRAMANA_OTP_SECRET=0a8eaee21ced7b484e6624987aefc842ef51767f050ab1891a425b3ba43563b6